<div class="project-thumb">
  <% if (post.cover) { %>
    <div style="
      width: 100%;
      height: 200px;
      background-image: url(<%- url_for(post.path + post.cover) %>);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      flex: 0 0 auto;
      ">
    </div>
  <% } %>
  <% if (post.coverVideo) { %>
    <div style="
      width: 100%;
      height: 200px;
      flex: 0 0 auto;
      overflow: hidden;
      display: flex;
      ">
      <video src="<%- url_for(post.path + post.coverVideo) %>" loop autoplay width="100%">
    </div>
  <% } %>
  <div class="thumb-text">
    <div class="thumb-title" >
    <h3><%= post.title %></h3>
    <% if(post.award) { %>
      <div class="award">
        <div>
          <h3><%= post.award %></h3>
          <p><%= post.awardSub %></p>
        </div>
      </div>
    <% } %>
    </div>
    <%- post.excerpt %>
    <a href="<%- url_for(post.path) %>">Read More</a>
  </div>
</div>